<div>
  <h1> Featured Products</h1>

  <div id="carousel_landing_page" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel_landing_page" data-slide-to="0" class="active"></li>
      <li data-target="#carousel_landing_page" data-slide-to="1"></li>
      <li data-target="#carousel_landing_page" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner one">
      <% @products.each do |product| %>
      <div class="carousel-item <%= " active" if product == @products.first %>">
       <%= image_tag(product.image_url) %>
<br>
<br>
        <div class="carousel-caption">
        <h3 class="one"><%= link_to product.name, product %></h3>
        </div>
      </div>
      <% end %>
      </div>


    <a class="carousel-control-prev" href="#carousel_landing_page" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel_landing_page" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
